@{ Layout = "_Layout.cshtml"; }
<body>
    @Html.Action("TopNavigationBar", "DashboardControls")

    <div class="container" id="main-container">
        @Html.Action("SideNavigationBar", "DashboardControls")
        <div id="main-content">
            <div class="page-title">
                <div>
                    <h1><i class="fa fa-file-o"></i> @ViewBag.PageTitle</h1>
                    <h4>@ViewBag.PageDescription</h4>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", false)
</body>