<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.PageTitle - HospitalityGEM</title>
    @Styles.Render("~/css/bootstrap")
    @*@Styles.Render("~/css/bootstrap-theme")*@
    @Styles.Render("~/css/flaty")
    @Styles.Render("~/css/font-awesome")
</head>
@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-val")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</html>