<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.PageTitle - Hospitality GEM</title>
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/bootstrap-theme")
    @Styles.Render("~/css/flaty")
    @Styles.Render("~/css/font-awesome")
</head>
<body class="skin-black">
@Html.Action("TopNavigationBar", "DashboardControls")

<div class="container" id="main-container">
    @Html.Action("SideNavigationBar", "DashboardControls")
    <div id="main-content">
        <div class="page-title">
            <div>
                <h1><i class="fa fa-file-o"></i> @ViewBag.PageTitle</h1>
                <h4>@ViewBag.PageDescription</h4>
            </div>
        </div>
        @RenderBody()
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-val")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>