@{ Layout = MVC.Shared.Views._Layout; }
<body>
    @Html.Action(MVC.DashboardControls.TopNavigationBar())

    <div class="container" id="main-container">
        @Html.Action(MVC.DashboardControls.SideNavigationBar())
        <div id="main-content">
            <div class="page-title">
                <div>
                    <h1><i class="fa fa-file-o"></i> @ViewBag.PageTitle</h1>
                    <h4>@ViewBag.PageDescription</h4>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", false)
</body>