<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.PageTitle - HospitalityGEM</title>
    @Styles.Render(Links.Bundles.Styles.bootstrap)
    @*@Styles.Render(Links.Bundles.Styles.bootstrap_theme)*@
    @Styles.Render(Links.Bundles.Styles.flaty)
    @Styles.Render(Links.Bundles.Styles.font_awesome)
</head>
@RenderBody()
@Scripts.Render(Links.Bundles.Scripts.jquery)
@Scripts.Render(Links.Bundles.Scripts.jquery_validate)
@Scripts.Render(Links.Bundles.Scripts.bootstrap)
@RenderSection("scripts", false)
</html>