@model hGem.WebUI.ViewModels.DashboardControls.UserDropdownModel

<li class="user-profile">
    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
        <img class="nav-user-photo" src="img/demo/avatar/avatar1.jpg" alt="Penny's Photo">
        @Html.DisplayFor(m => m.ShortName)
        <i class="fa fa-caret-down"></i>
    </a>

    <ul class="dropdown-menu dropdown-navbar" id="user_menu">
        <li class="nav-header">
            <i class="fa fa-clock-o"></i>
            Logged in at @Model.LastLoggedIn.ToShortTimeString()
        </li>

        <li>
            <a href="@Url.Action(MVC.Account.UserProfile())">
                <i class="fa fa-user"></i>
                Edit profile
            </a>
        </li>

        <li class="divider"></li>

        <li>
            @using (Html.Bootstrap().Begin(new Form(MVC.Authentication.LogOff())))
            {
                @Html.AntiForgeryToken()
                <i class="fa fa-off"></i>
                @Html.Bootstrap().SubmitButton().Text("Log out").Class("btn btn-link")
            }
        </li>
    </ul>
</li>