@model ClientSearchModel

@using (Ajax.BeginForm(MVC.Client.List(), new AjaxOptions { HttpMethod="GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "clientList", LoadingElementId = "clientListLoader" }))
{
    @Html.Html5TextBoxFor(m => m.ClientSearchQuery, InputTypes.InputType.Search)
}

<div id="clientList">
    <img id="clientListLoader" src="@Url.Content(Links.Content.SVG.Loaders.tail_spin_svg)" width="30" alt="" style="display: none"/>
    @Html.Action(MVC.Client.List())
</div>
<div>
    @Html.ActionLink("Create", MVC.Client.Create())
</div>

@section scripts {
    @Scripts.Render(Links.Bundles.Scripts.jquery_validate)
    @Scripts.Render(Links.Bundles.Scripts.jquery_typewatch)
    <script>
        $('#@Html.IdFor(m => m.ClientSearchQuery)').typeWatch({
            callback: function () { $(this).parent().submit() },
            wait: 250,
            highlight: true,
            captureLength: 2
        });
    </script>
}