@model ClientSearchModel

@*<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-left" role="navigation">
        <ul class="nav navbar-nav">
            <li id="HomeIcon">
                <a class=""><span class="glyphicon glyphicon-home"></span></a>
                <div class="nav-popout">OK</div>
            </li>
        </ul>
    </nav>*@

@using (Ajax.BeginForm("List", "Clients", new AjaxOptions { HttpMethod="GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "clientList", LoadingElementId = "clientListLoader" }))
{
    @Html.Html5TextBoxFor(m => m.ClientSearchQuery, InputTypes.InputType.Search)
}

<div id="clientList">
    <img id="clientListLoader" src="@Url.Content("~/Content/SVG/Loaders/tail-spin.svg")" width="30" alt="" style="display: none"/>
    @Html.Action("List", "Clients")
</div>
<div>
    @Html.ActionLink("Create", "Create")
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquery-val")
    @Scripts.Render("~/bundles/jquery-typewatch")
    <script>
        $('#@Html.IdFor(m => m.ClientSearchQuery)').typeWatch({
            callback: function () { $(this).parent().submit() },
            wait: 250,
            highlight: true,
            captureLength: 2
        });
    </script>
}