@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 form-signin">
        <section>
            @using (Html.BeginForm("Login", "Authentication", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <img src=@Url.Content("~/Content/Images/HospitalityGemLogo300dpi.png") alt="" />
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, Model.UsernameLabelText)
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = Model.UsernamePlaceholderText, @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, Model.PasswordLabelText)
                    @Html.PasswordFor(m => m.Password, new { placeholder = Model.PasswordPlaceholderText, @class = "form-control" })
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, Model.RememberMeLabelText)
                </div>
                <hr />
                <div class="navbar-form">
                    <input type="submit" value="@Model.LoginButtonText" class="btn btn-default pull-right" />
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery-val")
    @Styles.Render("~/bundles/authentication")
}