@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Html.Bootstrap().Globals().ShowRequiredStar(false);
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 form-signin">
        <section>
            @using (var form = Html.Bootstrap().Begin(new Form("Login", "Authentication").RouteValues(new { ViewBag.ReturnUrl })))
            {
                @Html.AntiForgeryToken()
                <img src=@Url.Content("~/Content/Images/HospitalityGemLogo300dpi.png") alt="" />
                <hr />

                @Html.Bootstrap().ValidationSummary()
                @(form.FormGroup().TextBoxFor(m => m.UserName).Placeholder(Model.UsernamePlaceholderText).Label().LabelText(Model.UsernameLabelText))
                @(form.FormGroup().PasswordFor(m => m.Password).Placeholder(Model.PasswordPlaceholderText).Label().LabelText(Model.PasswordLabelText))
                @(form.FormGroup().CheckBoxFor(m => m.RememberMe).Label().LabelText(Model.RememberMeLabelText))

                <hr/>
                @Html.Bootstrap().SubmitButton().Text(Model.LoginButtonText).Class("pull-right")
            }
        </section>
    </div>
</div>
@section Scripts {
    @Styles.Render("~/bundles/authentication")
}